QMainWindow {
    background-color: #171b29;
    padding: 0px;
    margin: 0px;
}
.central {
    padding: 0px;
    margin: 0px;
    background-color: red;
}
QGridLayout {
    padding: 0px;
    margin: 0px;
}
QLabel {
    color: white;
    padding: 5px;
}
.ticker-label {
    color: #00dcff;
    /* border-style: none; */
    border: 0px solid;
    font-weight: bold;
    background-color: #171b29;
}
.even {
    background-color: #182e40;
}
.odd {
    background-color: #171b29;
}
.side {
    border: 1px solid #0ac4b2;
    padding: 1px;
    text-transform: uppercase;
}
.header-label {
    background-color: #202432;
    color: #999eab;
    font-weight: bold;
    /* border-bottom: 1px solid white; */
}
.status-label {
    border: 1px solid black;
    background-color: green;
    color: white;
    padding: 1px;
    font-weight: bold;
}
.lost {
    background-color: red;
}
.current-page {
    background-color: aqua;
}
.total {
    background-color: #2f3341;
}
.total QLabel{
    text-transform: uppercase;
    font-weight: bold;
}
.filter-container {
    /* background-color: red; */
}
.filter-container QWidget {
    background: transparent;
    text-transform: uppercase;
    color: white;
    border: 1px solid green;
}
.section {
    background-color: #2f3341;
}
.stats-section-header {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 1px;
    margin: 0;
}
.stats-section-data {
    /* background-color: rgb(235, 173, 173); */
    padding: 0;
}