QMainWindow {
    background-color: #121721;
    /* background-color: rgb(18, 23, 33); */
    padding: 0px;
    margin: 0px;
}
.note-subwindow {
    background-color: #121721;
    /* background-color: rgb(18, 23, 33); */
    padding: 0px;
    margin: 0px;
}
.note-edit {
    background: transparent;
    border: 1px solid #245b53;
    border-radius: 3px;
    padding: 5px;
    color: white;
}
.central {
    padding: 0px;
    margin: 0px;
    background-color: red;
}
QGridLayout {
    padding: 0px;
    margin: 0px;
}
QLabel {
    color: white;
    padding: 5px;
}
QPushButton.ticker-label {
    color: #00dcff;
    border-style: none;
    border-bottom: 1px solid #545454;
    font-weight: bold;
    /* background-color: #171b29; */
}
.even {
    background-color: #18202d;
}
.odd {
    background-color: #162031;
}
QLabel.side {
    border: 1px solid #009792;
    color: white;
    text-transform: uppercase;
}
.header-label {
    background-color: #1d2331;
    color: #999eab;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    height: 25px;
}
.tradelist-field {
    font-size: 12px;
    color: #c4c4c4;
    border-bottom: 1px solid #545454;
    height: 30px;
}
.status-label {
    border: 1px solid #545454;
    background-color: #00b399;
    color: white;
    padding: 1px;
    font-weight: bold;
}
.loss {
    background-color: #f95959;
}
.open {
    background-color: #ffc000;
}
.current-page {
    background-color: aqua;
}
.total {
    background-color: #2f3341;
}
.total QLabel{
    text-transform: uppercase;
    font-weight: bold;
}
.filter-container QWidget {
    background: transparent;
    text-transform: uppercase;
    color: #e4e7ea;
    border: 1px solid #009792;
    height: 30%;
    border-radius: 2px;
}
.filter-container QPushButton {
    border: none;
}
.buttons-section QPushButton {
    color: #e4e7ea;
    background-color: #009792;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    width: 150px;
    height: 25%;
}
.buttons-section.page-btns QPushButton {
    width: 30px;
}
.buttons-section.page-btns .current-page {
    background-color: #00ffda;
    color: white;
}
.section {
    background-color: #2f3341;
}
.stats-section-header {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 1px;
    margin: 0;
}
.stats-section-data {
    padding: 0;
}
.tradelist-field.green {
    color: green;
}
.tradelist-field.red {
    color: red;
}
QCheckBox {
    padding: 0px 10px;
    max-width: 15px;
}
QCheckBox::indicator {
    height: 15px;
    width: 15px;
    padding: 0;
}
QCheckBox::indicator:unchecked {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #6b6b6b;
}
QCheckBox::indicator:checked {
    height: 17px;
    width: 17px;
    image: url("static/checked.png");
}
.position-ui .ticker-label {
    border: none;
}